*.iml
.gradle
.idea
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
!gradle-plugins*
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
gen
